<!DOCTYPE html>

<link rel="stylesheet" href="/css/apts.css">

<% current_user.appointments.each do |apt| %>
  <p>
    <li>
      On <%= apt.date %>, you have <%= apt.procedure %> with <%= apt.doctor_name %>, from <%= apt.time_start %> 'til <%= apt.time_end %>.
    </li>
  </p>
<% end %>
